@import "bootstrap/scss/functions";

// include any default variable overrides here
$primary: hsla(125, 90%, 20%, 1);
$enable-shadows: true;
$enable-gradients: true;
$body-bg: hsla(1, 0%, 95%, 1);
$card-bg: hsla(1, 0%, 100%, 1);
$navbar-light-icon-color: hsla(1, 0%, 90%, 1);
$font-family-sans-serif: "Noto Serif", sans-serif;
$font-family-code: "Fira Code";
$font-size-base: 1.1rem;

// grid
$grid-gutter-width: 1rem;

// badges
$badge-font-size: 0.95em;
$badge-padding-y: 0.4em;

// card settings
$card-box-shadow: 5px 3px 5px hsla(125, 40%, 20%, 0.25);

// blockquote settings
$blockquote-font-size: 110%;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// include any map overrides here

// required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// optional parts
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/images";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/card";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities/api";

// my own code
.astro-code {
  padding: 0.5rem 1rem;
  font-size: 115%;
}

picture > img {
  max-width: 100%;
}

@include media-breakpoint-up(xl) {
  picture > img {
    max-width: 900px;
  }
}

blockquote {
  border-left: 2px $primary solid;
  background-color: $gray-400;
  margin-bottom: $blockquote-margin-y;
  padding: 0.5rem 1rem;
  @include font-size($blockquote-font-size);

  > :last-child {
    margin-bottom: 0;
  }
}
