---
import PageLayout from "../../layouts/PageLayout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<PageLayout pageTitle={t("about.title")}>
  <p>Hello</p>
</PageLayout>
