---
import i18next, { changeLanguage } from "i18next";
import BlogPost from "@components/BlogPost.astro";
import PageLayout from "@layouts/PageLayout.astro";

changeLanguage("de");

const allPosts = await Astro.glob("./blog/**/*.mdx");
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const pageTitle = "Blog";
---

<PageLayout pageTitle={pageTitle}>
  <div class="grid mt-4">
    {
      allPosts
        .filter((post) => post.frontmatter.language == i18next.language)
        .map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            imageRef={post.frontmatter.image?.ref}
          />
        ))
    }
  </div>
</PageLayout>
