---
import { changeLanguage } from "i18next";
import TheaterPageLayout from "@layouts/TheaterPageLayout.astro";
import { getCollection } from "astro:content";
import { localizePath } from "astro-i18next";
import { AstroSeo } from "@astrolib/seo";
import TheaterProduction from "@components/TheaterProduction.astro";

changeLanguage("de");

let allProductions = await getCollection("theater");
allProductions.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const pageTitle = "Theater";
---

<AstroSeo title={pageTitle} />

<TheaterPageLayout pageTitle={pageTitle}>
  <div class="grid row mt-4 mb-4">
    {
      allProductions.map((post) => (
        <div class="col-md-6 col-lg-4 mb-4">
          <TheaterProduction
            url={localizePath("theater/" + post.slug)}
            frontmatter={post.data}
          />
        </div>
      ))
    }
  </div>
</TheaterPageLayout>

<script>
  import "@scripts/masonry.js";
</script>
