---
import i18next, { changeLanguage } from "i18next";
import BlogPost from "@components/BlogPost.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { localizePath } from "astro-i18next";
import { AstroSeo } from "@astrolib/seo";

changeLanguage("en");

export async function getStaticPaths() {
  const allPosts = await getCollection(
    "blog",
    ({ data }) => data.language === i18next.language
  );
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    filteredPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<AstroSeo title={tag} />

<PageLayout pageTitle={`Articles with "${tag}"`}>
  <div class="grid row mt-4">
    {
      posts.map((post) => (
        <div class="col-md-6 col-lg-4 mb-4">
          <BlogPost url={localizePath(post.slug)} frontmatter={post.data} />
        </div>
      ))
    }
  </div>
</PageLayout>

<script>
  import "@scripts/masonry.js";
</script>
