---
import { getImage } from "@astrojs/image";
const { url, title, date, imageRef, imageAlt } = Astro.props;
const { src, alt } =
  imageRef !== undefined
    ? await getImage({
        src: imageRef,
        alt: imageAlt,
        width: 500,
        height: 500,
      })
    : { src: "", alt: "" };
---

<div class="card">
  {
    imageRef !== undefined ? (
      <img src={src} class="card-img-top" alt={alt} />
    ) : (
      <span />
    )
  }

  <div class="card-body">
    <div class="card-text fw-light">{new Date(date).toLocaleDateString()}</div>
    <h5 class="card-title">{title}</h5>
    <a href={url} class="stretched-link">Mehr</a>
  </div>
</div>
