---
import { getImage } from "@astrojs/image";
const { url, title, date, imageSrc, imageAlt } = Astro.props;
const { src, alt } =
  imageSrc !== undefined
    ? await getImage({
        src: imageSrc,
        alt: imageAlt,
        width: 500,
        height: 500,
        format: "avif",
      })
    : { src: "", alt: "" };
---

<div class="card">
  <img src={src} class="card-img-top" alt={alt} loading="lazy" />
  <div class="card-body">
    <div class="card-text fw-light">{new Date(date).toLocaleDateString()}</div>
    <h5 class="card-title">
      <a href={url} class="text-decoration-none stretched-link">{title}</a>
    </h5>
  </div>
</div>
