---
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min?url";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="google-site-verification"
      content="Od3gvLagaJ4VT4aQ0CeyKqiQVfpnijM"
    />
    <meta name="author" content="Mathias Wellner" />
    <HeadHrefLangs />
  </head>
  <body>
    <Header />
    <div class="container py-4">
      <slot />
    </div>
    <Footer />
    <script src={bootstrap}></script>
  </body>
</html>
