---
import BaseLayout from "./BaseLayout.astro";
import { changeLanguage } from "i18next";
import Tag from "@components/Tag.astro";
const { frontmatter } = Astro.props;

changeLanguage(frontmatter.language);
---

<BaseLayout pageTitle={frontmatter.title}>
  <span>{new Date(frontmatter.pubDate).toLocaleDateString()}</span>
  <h1>{frontmatter.title}</h1>

  <slot />

  <div class="tags">
    {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
  </div>
</BaseLayout>
