---
import BaseLayout from "./BaseLayout.astro";
import "../styles/theater.scss";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <slot />
</BaseLayout>
